#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  margin: 25px 50px 75px 30px;
}

li.main-list {
  padding: 25px;
  border-bottom: solid 2px black;
  font-size: larger;
}

.whole-page {
  padding: 50px;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  text-align: center;
}

.date-search, .title-search, .category-search {
  margin: 20px;
  display: flex;
}

label {
  font-size: large;
  margin-right: 10px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-card {
  margin: 3%;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888;
}

.news-card h4 {
  margin: 20px;
}

.news-card h5 {
  font-style: italic;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border-bottom:1px solid;
  width:75px;
}